LinkAIBrain/NanoBananaPro-Image-Generation.json
{
  "name": "NanoBananaPro-Image-Generation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Nano Banana Pro Image Generation",
        "formDescription": "Generate ultra-sharp images from text prompts using the Gemini Nano-Banana Pro model via MuleRun API",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt",
              "fieldType": "textarea",
              "placeholder": "A beautiful sunset over the mountains",
              "requiredField": true
            },
            {
              "fieldLabel": "Aspect Ratio",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1:1"
                  },
                  {
                    "option": "2:3"
                  },
                  {
                    "option": "3:2"
                  },
                  {
                    "option": "3:4"
                  },
                  {
                    "option": "4:3"
                  },
                  {
                    "option": "4:5"
                  },
                  {
                    "option": "5:4"
                  },
                  {
                    "option": "9:16"
                  },
                  {
                    "option": "16:9"
                  },
                  {
                    "option": "21:9"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Resolution",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1K"
                  },
                  {
                    "option": "2K"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -528,
        480
      ],
      "id": "4c7552ef-5406-4c78-bf00-6b07793ba40b",
      "name": "Form Input",
      "webhookId": "nano-banana-pro-generation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mulerun.com/vendors/google/v1/nano-banana-pro/generation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json['Prompt'] }}\",\n  \"aspect_ratio\": \"{{ $json['Aspect Ratio'] }}\",\n  \"resolution\": \"{{ $json['Resolution'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        480
      ],
      "id": "7f10ded2-0aef-4e1b-9ff5-86e3227188ba",
      "name": "Submit Generation Task",
      "credentials": {
        "httpHeaderAuth": {
          "id": "r02oNwvjanFeQout",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "huAB8Nb7XGn4EpqT",
          "name": "MuleRun Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mulerun.com/vendors/google/v1/nano-banana-pro/generation/{{ $('Submit Generation Task').item.json.task_info.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        480
      ],
      "id": "7fdb460e-a401-4466-a589-906a6296ef01",
      "name": "Poll Task Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "r02oNwvjanFeQout",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "huAB8Nb7XGn4EpqT",
          "name": "MuleRun Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.task_info.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        480
      ],
      "id": "701ad820-e495-4127-9292-7e588a92157c",
      "name": "Is Completed?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.task_info.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        656
      ],
      "id": "151dd1ad-a584-4991-8a27-c678071c4f28",
      "name": "Is Failed?"
    },
    {
      "parameters": {
        "url": "={{ $json.images[0] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        464
      ],
      "id": "d84ce1a9-d563-4f69-85df-bfdf69854f11",
      "name": "Download Image"
    },
    {
      "parameters": {
        "jsCode": "// Format error output with proper JSON handling\nconst errorDetail = $input.item.json.task_info?.error?.detail || 'Task failed';\n\nreturn {\n  status: 'failed',\n  error: errorDetail,\n  final_output: `Generation failed: ${errorDetail}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        640
      ],
      "id": "d68a2170-2741-4915-a660-74109c69758e",
      "name": "Format Error Output"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        480
      ],
      "id": "0c23d287-5c15-4a0b-8192-b6ffb358cad1",
      "name": "Wait 30s",
      "webhookId": "4bbc1495-dc44-46e8-9884-ed3991e99ae9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        832
      ],
      "id": "029db652-a300-47bd-961c-d1e447b199f8",
      "name": "Wait 5s Retry",
      "webhookId": "fe9da81e-44e4-4cbb-9988-d1bf06b6eb1c"
    }
  ],
  "pinData": {},
  "connections": {
    "Form Input": {
      "main": [
        [
          {
            "node": "Submit Generation Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Generation Task": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Task Status": {
      "main": [
        [
          {
            "node": "Is Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failed?": {
      "main": [
        [
          {
            "node": "Format Error Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Poll Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s Retry": {
      "main": [
        [
          {
            "node": "Poll Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0023eef1-d39a-4204-a401-322d9801a933",
  "meta": {
    "instanceId": "ad8bd1438d783b86c795879f4650f249bbb6ac0f3e6c226aa2e7261ea11127a5"
  },
  "id": "hLSvPYxrqrvyVFph",
  "tags": []
}